.container {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.seccionvioleta {
    background-color: blueviolet;
    height: 10%;
}

.seccionamarilla {
    background-color: yellow;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seccionazul {
    background-color: aqua;
    height: 10%;
}

.square{
    height: 50px;
    width: 50px;
    background-color: yellow;
    margin-left: 25px;
    margin-top: 25px;
}
