<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maqueta.css') }}">
    <title>Ejercicio2</title>
</head>
<body>
    <div class = "container">
        <div class = "seccionvioleta">
            <div class = "square"><h1>Conclusiones</h1></div>
        </div>

        <div class = "seccionamarilla">
            <h2>Nuestras recomendaciones son:</h2>
            <ul>
                <li>Si hay presupuesto, usarlo en la zona con indice 1</li>
                <li>Sino, en la zona con indice 2</li>
                <li>No conviene invertir en la zona con indice 0</li>
            </ul>
        </div>

        <div class = "seccionazul">
            <h3>AUTOR/A: ANA VELEZ</h3>
        </div>
    </div>
</body>
</html>