<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maqueta.css') }}">
    <title>Ejercicio2</title>
</head>
<body>
    <div class = "container">
        <div class = "seccionvioleta">
            <div class = "square"><h1>Resultados</h1></div>
        </div>

        <div class = "seccionamarilla">
                <h2>Podemos ver</h2>
                <img src="../../Recursos/codo.jpg" alt="Grafico Codo">
        </div>

        <div class = "seccionazul">
            <h3>AUTOR/A: ANA VELEZ</h3>
        </div>
    </div>
</body>
</html>