<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maqueta2.css') }}">
    <title>Clientes</title>
</head>
<body>
    <div class = 'parte_alta'>
        <h1>Nuestros clientes</h1>
    </div>
    <div class = 'parte_baja'>
        <img src="silho.png" alt="grafico silhoette">
        <ul>
            <li>Nuestros clientes GOLD son aquellos con label 0</li>
            <li>Sus beneficios son un 40% de descuento en algunas unidades especiales por semana</li>
            <li>Estos se caracterizan por tener un alto nivel de gasto respecto a su ingreso</li>
        </ul>
        <ul>
            <li>Nuestros clientes SILVER son aquellos con label 1</li>
            <li>Sus beneficios son un 20% de descuento en algunas unidades especiales por semana</li>
            <li>Estos se caracterizan por tener un mediano nivel de gasto respecto a su ingreso</li>
        </ul>
    </div>
    
</body>
</html>