<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/maqueta1.css') }}">
    <title>Home</title>
</head>
<body>
    <div class = 'container'>
        <div class = 'parte_alta'>
            <img src = 'logo.png' alt='logo'><h1>Kiwik-E-Mart</h1>
        </div>
        <div class = 'parte_baja'>
            <h2>TARJETA Kiwit-E-Mart</h2>
            <h3>Mas cerca de nuestros clientes</h3>
        </div>
    </div>
</body>
</html>